@import 'https://fonts.googleapis.com/css?family=Roboto';
*{
    margin: 0px;
    padding: 0px;
}
.wrapper
{
    background: rgba(255,255,255,0.6);
    margin: 20px 7% 10px 7%;
    padding: 20px;
    //min-height: 600px;
    overflow: auto;
}
.wrapper .menu{
    background: rgba(0,0,255,0.3);
    float:left;
    width: 30%;
    color:white;
}
.wrapper .menu ul a li{
    margin: 0 10px 0 10px;
    padding: 7px 5px 7px 5px;
    font-family: 'Merriwether',sans-serif;
}
.wrapper .menu ul{
    padding: 10px 0 10px 0;
}
.wrapper .content{
    float: right;
    width: 62%;
    padding: 0px 20px 20px 20px;
    text-align: center;
    font-family: 'Merriwether',sans-serif;
}
 select{
    width: 150px;
}